.loader {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader .box {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 33px;
  border-radius: 50%;
  background: var(--text-inactive-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader .box:nth-child(1) {
  left: 8px;
  animation: loader-first 0.6s infinite;
}

.loader .box:nth-child(2) {
  left: 8px;
  animation: loader-second 0.6s infinite;
}

.loader .box:nth-child(3) {
  left: 32px;
  animation: loader-second 0.6s infinite;
}

.loader .box:nth-child(4) {
  left: 56px;
  animation: loader-third 0.6s infinite;
}

@keyframes loader-first {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader-third {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader-second {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
