.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.link {
  text-decoration: none;
  color: #4c4cff;
}

.text {
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.fieldset {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  display: grid;
  gap: 24px;
}
