.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-alt);
  color: var(--text-secondary-color);
}

.main {
  max-width: 1240px;
  margin: 40px auto 0;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.ingredients {
  max-width: 600px;
}

.constructor {
  padding-top: 70px;
  max-width: 600px;
}