.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
}

.form {
  max-width: 480px;
}

.title {
  text-align: center;
}

.input_items {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  display: grid;
  gap: 24px;
}

.button {
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
