.header {
  min-height: 88px;
  background-color: var(--background);
}

.nav {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;
}

.menu_right {
  flex-direction: row-reverse;
}

.item {
  height: 24px;
  display: flex;
}

.logo {
  flex: 1;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-primary-color);
  display: flex;
  justify-items: center;
}


.text {
  display: block;
  line-height: 24px;
}

.active {
  color: var(--text-primary-color);
}

.disabled {
  cursor: default;
}