/* .header {
  max-width: 1280px;
  width: 1920px;
  margin: 0 auto;
  position: relative;
  background-color: var(--background);
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  cursor: pointer;
}

.item:last-of-type {
  margin-left: auto;
}

.logo {
  position: absolute;
  left: 495px;
  top: 20px;
}

.disabled {
  cursor: default;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-primary-color);
  display: flex;
  justify-items: center;
}

/* .header {
	width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
	grid-area: header;
  min-height: 88px;
}

.box {
  display: grid;
  grid-template-areas: "menu-main logo menu-user";
  grid-template-columns: 40% 20% 40%;
  gap: 0;
	width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}

.menu {
  max-width: 1280px;
  width: 100%;
	padding: 0;
  margin: 0;
}

.menu_base {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main_menu {
  justify-content: flex-start;
  grid-area: menu-main;
}

.user_menu {
  justify-content: flex-end;
  grid-area: menu-user;
}

  .header {
    min-height: 64px;
  }

  .main_menu {
    display: none;
  } */
.header {
  min-height: 88px;
  background-color: var(--background);
}

.nav {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;
}

.menu_right {
  flex-direction: row-reverse;
}

.item {
  height: 24px;
  display: flex;
}

.logo {
  flex: 1;
}

.disabled {
  cursor: default;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-primary-color);
  display: flex;
  justify-items: center;
}


.text {
  display: block;
  line-height: 24px;
}

.active {
  color: var(--text-primary-color);
}
