.box {
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption {
  text-align: center;
}

.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.text {
  color: var(--text-inactive-color);
}
