.list {
  height: 464px;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: var(--background-element);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.item {
  max-width: 536px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: 8px;
}

.ingredient {
  width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
}

.order {
  max-width: 552px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.price {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tip {
  font-size: 15px;
  padding-left: 43px;
}

.empty{
  border: 5px dotted #8585ad1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border: 1px solid #4C4CFF;
}
