.list {
  height: 464px;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-right: 7px;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: var(--background-element);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.item {
  max-width: 536px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: 8px;
}

.ingredient {
  width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 100px;
}

.order {
  max-width: 552px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.price {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tip {
  font-size: 15px;
  padding-left: 43px;
}

.active {
  border: 5px solid #4c4cff;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.inactive {
  border: 5px solid transparent;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.empty {
  border: 5px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
